/* Coolors Exported Palette - coolors.co/2674f9-9197a3-ffffff-282a2d-feaf20 */
/* RGB */
$blue: rgb(38, 116, 249);
$light-grey: rgb(225, 226, 229);
$white: rgb(255, 255, 255);
$dark-grey: rgb(40, 42, 45);
$bright-yellow: rgb(254, 175, 32);
