$larg-breakpoint: 1100px;
$medium-breakpoint: 800px;
$small-breakpoint: 650px;
$larg-width: 70%;
$medium-width: 85%;
$small-width: 95%;
$width-of-keys-in-main-small: 15%;
$width-of-keys-in-main-larg: 20%;
$ms-base: 1em;
$ms-ratio: $golden;
$ms-range:
.7   20em,
1 60em;
