header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

%padding {
    border: 0;
    padding: 1em 2em;
}

.header-input {
    @extend %padding;
    background-color: $blue;
    border: 0;
    color: $white;
    margin: auto;
    text-align: center;
    width: 50%;
}

.convertor {
    @extend %padding;
    position: absolute;
}
