.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after {
    background: rgba(0,0,0,.8);
    color: #fff;
    content: attr(data-tooltip);
    bottom: 80%;
    left: 20%;
    padding: .5em;
    position: absolute;
    z-index: 98;
    width: 10em;
}

.tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 68%;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
