html {
    font-family: monospace;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
header,
section {
    display: block;
}
main {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
strong {
    font-weight: inherit;
}
strong {
    font-weight: bolder;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
select {
    font-family: monospace;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button {
    -webkit-appearance: button;
}
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
details,
menu {
    display: block;
}
