html,
body,
header,
main,
div,
input,
button,
dl,
dd,
dt,
option {
    font-family: monospace;
    // Gee I don't know why font
    // inheritance doesn't work, fuckit
    // ¯\_(ツ)_/¯
}

body {
    @include ms-respond(font-size, 1);
}

.nth-root {
    background-image: url("o2.svg");
    background-repeat: no-repeat;
    background-position: 60% 50%;
    // overflow: hidden;
    text-indent: -9999px;
}
